.footer-area li{
    padding-bottom: 10px;
}
.footer-area button{
    padding: 8px 20px;
    font-size: 15px;
    font-family: system-ui;
    background: linear-gradient(60deg, #19D3B0, #10CFE9);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.title-color{
    color: #1CC7C1;
    font-size: 20px;
}

.social-media a{
    height: 40px;
    width: 40px;
    color: #1cc7c1;
    border-radius: 50%;
    border: 1px solid #6ACECE;
    padding: 10px;
}
.social-media .active-icon{
    background-color: #6ACECE ;
    color:white;
}